.color-tittle {
 font-weight: normal;     
}
#red {
 color: red;
}

.color-tittle {
  font-weight: normal;
}
#blue {
 color: blue;
}

.color-tittle {
  font-weight: normal;
}
#orange {
  color: orange;
}
img {
  width: 200px; 
}

.color-tittle {
  font-weight: normal;
}
#green {
  color: green;
}

.color-tittle {
  font-weight: normal;
}
#yellow {
  color: yellow;
}